/* Universal Styles */

html {
	font-family: roboto, Georgia, 'Times New Roman', Times, serif;
	margin: 0;
}

a {
	text-decoration: none;
	color: #F9FAF8;
}

a:hover {
	transition: color ease-out 200ms;
	color: grey;
}

body {
	margin: 0;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

#body-div {
	display: flex;
	flex-direction: column;
	flex: 1;
}

/* Header */

header {
	display: flex;
	background-color: #1F2937;
	color: #F9FAF8;
	padding: 0 6rem;
	justify-content: space-between;
}

header p {
	font-size: 1.5rem;
}

.header.links {
	display: flex;
	align-items: center;
}

ul {
	list-style: none;
	display: flex;
	gap: 1.5rem;
	margin: 0;
	padding: 0;
}

/* First container */

.container.one {
	background-color: #1F2937;
	padding: 0 6rem;
	padding-bottom: 3rem;
	display: flex;
	gap: 1.5rem;
	justify-content: space-between;
	/*flex-wrap: wrap-reverse; */
}

.block h1 {
	font-size: 3rem;
	font-weight: 800;
	color: #F9FAF8;
}

.block p {
	font-size: 18px;
	color: #e5e7eb;
	margin: 8px 0;
}

.block {
	max-width: 480px;
}

.block.image img {
	max-width: 100%;
	height: auto;
}

.block button {
	color:  #e5e7eb;
	background-color: #3882F6;
	border-radius: 4px;
	padding: 4px;
}


/* Second container */

.container.two {
	display: flex;
	flex-direction: column;
	padding: 0 6rem;
	padding-bottom: 3rem;
}

.title {
	margin: auto;
	font-size: 36px;
	font-weight: 800;
	color: #1F2937;
}

.projects {
	display: flex;
	gap: 1.5rem;
	flex: 1;
	justify-content: center;
	flex-wrap: wrap;
}

.item {
	flex: inherit;
}
.item img {
	width: 200px;
	height: auto
}

.item a {
	color: black;
}

a:hover {
	transition: color ease-out 200ms;
	color: lightgrey;
}


/* Third container */

.container.three {
	padding: 0 6rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #e5e7eb;
}

#catch-phrase {
	font-size: 36px;
	font-style: light italic;
	color: #1F2937;
}


/* Footer */


.footer {
	padding: 0 6rem;
	background-color: #1F2937;
	color:  #F9FAF8;
	font-size: 12px;
	text-align: center;
}

@media only screen and (max-width: 1040px) {

	.container.one {
		flex-wrap: wrap-reverse;
		justify-content: center;
	}

}

@media only screen and (max-width: 680px) {
	.logo {
		display: none;
	}

	header {
		height: 75px;
		justify-content: space-around;
		font-size: 1.25rem;
	}

	.container.one h1 {
		max-width: 198px;
		font-size: 1.75rem;
		justify-content: center
		;
	}
}